# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5cd162acb555f52f8d4824492591b3b7052be9621b38a684ca20987a32aa15144002c8e6337ebe20e9f683ae7825930c181fc2b185dcc073db7debe90fa24bd2

test:
  secret_key_base: 1c73057f39e52436e914b67d350f464b84ba194793cd40b58cbdd49db45d0f8c605f12a07efe892654660281bc16c8f1f183725aed7bf7a9e5c72166444eced0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
